@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');

body{
  background-color: black;
}
#missionSection{
  height: 400px;
  background-color:rgb(185 185 187 / 79%) /*white*/
}
#missionSection h2{
  font-family: 'Yeon Sung', cursive;
  text-align: center;
  padding-top: 20px;
  font-size: 37px;
}
.card{
  display: inline-block;
  border: 2px solid black; /*rgb(174 192 210) rgb(247 95 49)*/
  border-radius: 10px;
  width: 24%;
  margin: 20px 64px;
  height: 270px;
}
.card h3{
  text-align: center;
  margin-top: 10px;
  font-size: 25px;
}
.card-box{
  align-items: center;
  display: flex;
  margin: 35px 26px;
}
.card-content p{
  font-size: 22px;
  font-family: 'Vollkorn', serif;
  margin-left: -101px;
}
.card-img{
  padding: 0px 14px;
  height: 120px;
}
.card-img img{
  height: inherit;
  height: 166px;
  width: 157px;
  margin-top: -39px;
  
}
#sponsorsSection{
  height: 400px;
  background-color: black
}

#sponsorsSection h2{
  font-family: 'Yeon Sung', cursive;
  text-align: center;
  padding-top: 20px;
  color: wheat;
  font-size: 37px;
}
#sponsors{
  height: 249px;
  max-width: 1029px;
  margin: auto;
  margin-top: 48px;
}
.spImage{
  height: 80%;
  margin: 20px;
  margin-right: 46px;
}
.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-caption {
 position: relative;
 left: 0;
 top: 0;
}

.carousel-caption h3 {

  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
  
.carousel-caption p {
  width: 75%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
}


.navbar-brand h2{
  font-family: 'Dancing Script', cursive;
  
}
@media only screen and (max-width: 600px) {

  .card{
    display: block;
    margin: 41px;
    border: 2px solid black; /*rgb(174 192 210) rgb(247 95 49)*/
    border-radius: 10px;
    width: 73%;
    height: 203px
}
#missionSection{
  height: 800px;
  background-color:rgb(185 185 187 / 79%) /*white*/
}
.card-content p{
  font-size: 12px;
  margin-left: -41px;
  font-family: 'Vollkorn', serif;
}
.card-img{
  height: 60px;
}
.card-img img{
  height: inherit;
  height: 97px;
    width: 97px;
  
  
}
#sponsorsSection{
  height: 200px;
  background-color: black;
}

#sponsorsSection h2{
  font-family: 'Yeon Sung', cursive;
  text-align: center;
  padding-top: 20px;
  color: wheat;
  font-size: 25px;
}
#sponsors{
  height: 100px;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-left: 9px;
  justify-content: space-evenly;
}
#sponsors img{
  margin: 5px;
}
.spImage{
  height: 40%;
  margin: 0;
}
  .carousel-caption {
 position: relative;
 left: 0;
 top: 0;
}
.carousel-item {
  height: 52vh;
}
.carousel-caption h3 {

  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
}


/*font-family: 'Courgette', cursive;*/
 
